body {
    background-color: #f9f9f9; /* Color de fondo */
    height: 100vh;
    font-family: 'Montserrat', sans-serif; /* Cambiar la fuente a Montserrat */
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.input-group-text {
    background-color: #333333; /* Color de fondo oscuro para el texto del grupo de entrada */
    color: #ffffff; /* Color de texto blanco */
    font-size: 20px; /* Tamaño de la fuente */
    padding: 10px 15px; /* Espaciado interno */
}

.form-control {
    flex: 1;
    margin-left: 10px;
    font-size: 18px; /* Tamaño de la fuente */
    padding: 10px; /* Espaciado interno */
    border: none; /* Borde eliminado */
    border-bottom: 2px solid #333333; /* Borde inferior */
}

.btn {
    background-color: #ffffff; /* Color de fondo blanco para el botón */
    color: #333333; /* Color de texto oscuro */
    border: 2px solid #333333; /* Borde */
    font-size: 20px; /* Tamaño de la fuente */
    padding: 10px 20px; /* Espaciado interno */
    transition: all 0.3s ease; /* Transición suave */
}

.btn:hover {
    background-color: #333333; /* Color de fondo oscuro al pasar el mouse */
    color: #ffffff; /* Color de texto blanco */
}

.refresh-button {
    background-color: #000000; /* Color de fondo blanco para el botón */
    color: #f5f5f5; /* Color de texto oscuro */
    border: 2px solid #333333; /* Borde */
    font-size: 20px; /* Tamaño de la fuente */
    padding: 10px 20px; /* Espaciado interno */
    transition: all 0.3s ease; /* Transición suave */
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 5px; /* Borde redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s; /* Transición suave al hacer hover */
    flex: 0 0 calc(25% - 20px); /* Esto ajusta el ancho de cada tarjeta para mostrar cuatro tarjetas en una fila */
    margin-bottom: 20px; /* Espacio entre tarjetas */
    display: flex; /* Convertir el contenedor en un elemento flex */
    flex-direction: column; /* Alinear los elementos internos en columnas */
    justify-content: center; /* Centrar verticalmente el contenido */
    text-align: center; /* Centrar horizontalmente el texto */
}

.card:hover {
    transform: translateY(-3px); /* Elevación sutil al hacer hover */
}

.card-title {
    font-size: 20px; /* Tamaño de la fuente del título */
    font-weight: bold; /* Negrita */
    margin-bottom: 5px; /* Margen inferior */
    color: #333333; /* Color de texto oscuro */
}

.card-text {
    font-size: 16px; /* Tamaño de la fuente del texto */
    color: #666666; /* Color de texto gris */
    margin-bottom: 5px; /* Margen inferior */
}

h1 {
    text-align: center; /* Centrar el texto */
    color: #333333; /* Color de texto oscuro */
    font-size: 36px; /* Tamaño de la fuente */
    margin-bottom: 20px; /* Margen inferior */
}
